{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}


{% if produit is not defined %}
<h1 class="text-center my-3">Ajouter des produits</h1>
{% else %}
<h1 class="text-center my-3">Modifier {{ produit.title }}</h1>
	

{% endif %}


<div class="row">
		<div class="col-10 mx-auto">
		    {{ form(form_produit)}}
		</div>
	</div>

{% endblock %}