{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}
<h1 class="text-center my-3">Ajouter des produits</h1>

<div class="row">
		<div class="col-10 mx-auto">
		    {{ form(form_produit)}}
		</div>
	</div>

{% endblock %}